<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Copperplate+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">

</head>
<body id="managementPage">
    <div id="header-bar">
        <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
        <h1>Macrominder</h1>
    </div>
    <!--sliding menu-->
    <div id="myMenu" class="menu">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
        <a href="/go_home?user_id={{userid}}">Dashboard</a>
        <a href="/load_graphs_page?user_id={{userid}}">Graphs</a>
        <a href="/load_charts_page?user_id={{userid}}">Charts</a>
        <!--depending on the user's role, the button changes-->
        {% if role == 'User' %}
            <a href="/signout">Logout</a>
        {% else %}
            <a href="/lifecoach/dashboard">Back</a>
        {% endif %}
    </div>
    <div class="bg-white">
        <h2 class="tm-block-title">Charts</h2>
        <!--first row-->
        <div class="graph-container">
            <div class="bg-white">
                {{ habits_barchart | safe }}
            </div>
            <div class="bg-white">
                {{ habits_piechart | safe }}
            </div>
        </div>
        <!--second row-->
        <div class="graph-container">
            <div class="bg-white">
                {{ weekly_completions_bar | safe }}
            </div>
            <div class="bg-white">
                {{ weekly_completions_pie | safe }}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>