<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Copperplate+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">

</head>
<body id="managementPage">
    <div id="header-bar">
        <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
        <h1>Macrominder</h1>
    </div>
    <!--sliding menu-->
    <div id="myMenu" class="menu">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
        <a href="/go_home">Dashboard</a>
        <a href="/load_graphs_page?user_id={{userid}}">Graphs</a>
        <a href="/load_charts_page?user_id={{userid}}">Charts</a>
        <form action="/signout" method="GET, POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <div class="bg-white">
        <h2 class="tm-block-title">Graphs</h2>
        <!--first row, the macros altogether-->
        <div class="bg-white">
            {{ macros_graph | safe }}
        </div>
        <!--second and third row, macros broken down-->
        <div class="graph-container">
            <div class="bg-white">
                {{ calories_graph | safe }}
            </div>
            <div class="bg-white">
                {{ protein_graph | safe }}
            </div>
        </div>
        <div class="graph-container">
            <div class="bg-white">
                {{ carbs_graph | safe }}
            </div>
            <div class="bg-white">
                {{ fats_graph | safe }}
            </div>
        </div>
        <!--fourth row, weight-->
        <div class="bg-white">
            {{weight_graph | safe }}
        </div>
        <!--fifth row, completions-->
        <div class="bg-white">
            {{ completions_graph | safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>