<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/LoginPage.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
            <form class="signup" method="post" onsubmit="registerUser(event)">
                <label class="label headers" for="chk" aria-hidden="true">Register</label>
                <label class="label fields">Username</label>
                <input class="input" type="text" name="username" id="username" maxlength="20" placeholder="Enter a username" required oninput="checkUsername(event)">
                <label class="label fields">Password</label>
                <input class="input" type="password" name="password" id="password" placeholder="Enter a password" required oninput="checkPassword(event)">
                <label class="label fields" for="role">Role</label>
                <select name="role" placeholder="Select a role" required>
                    <option value="" disabled selected>--Select a role--</option>
                    <option value="User">User</option>
                    <option value="LifeCoach">Life Coach</option>
                </select>
                <button type="submit" id="registerbutton">Register</button>
            </form>
            <a href="/">Back to Login</a>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
