<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Copperplate+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">

</head>
<body id="reportsPage">
    <div id="header-bar">
        <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
        <h1>Macrominder</h1>
    </div>
    <!--sliding menu-->
    <div id="myMenu" class="menu">
        <!--the links are clickable, so javascript:void(0) makes the link do nothing when clicked,
        allowing toggleMenu to replace its normal behavior. &times creates an 'x' symbol-->
        <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
        <a href="/go_home">Dashboard</a>
        <a href="/load_graphs_page?user_id={{userid}}">Graphs</a>
        <a href="/load_charts_page?user_id={{userid}}">Charts</a>
        <form action="/signout" method="GET, POST">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <div id="tm-col tm-col-big" style="text-align: center;">
        <button onclick="previousDate()">◀</button>
        <span id="currentDate" style="display: inline-block;">{{ current_date }}</span>
        <button onclick="nextDate()">▶</button>
    </div>
    <div class="" id="home">
        <div class="container">
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Habits</h2>
                        <!--------------------------- HABITS --------------------------->
                        <div class="habit-list">
                            {% for habit in habits %}
                                <form id="habitForm_{{ habit.habit_id }}" onchange="checkBox(event, this)">
                                    <input type="hidden" id="user_id" name="user_id" value="{{ userid }}">
                                    <input type="hidden" name="habit_id" value="{{ habit.habit_id }}">
                                    <input type="checkbox" id="habit_{{ habit.habit_id }}" name="completed" value="True" {% if completions.get(habit.habit_id) %} checked {% endif %}>
                                    <label class="habit-description" for="habit_{{ habit.habit_id }}">{{ habit.habit_description }}</label>
                                </form>
                            {% endfor %}
                        </div>
                        <canvas id="barChart"></canvas>
                        <!--button for managing habits-->
                        <form id="manage-habit-form" method="POST" action="/managehabits">
                            <!--fix: the hidden input represents user_id; send this to ManageHabits.html-->
                            <input type="hidden" id="user_id" name="user_id" value="{{ userid }}">
                            <button type="submit" class="btn btn-primary">Manage Habits</button>
                        </form>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Macro Tracker</h2>
                        <!--------------------------- MACROS --------------------------->
                        <div id="macros">
                            <form id="macrosForm" onsubmit="logMacros(event)">
                                <input type="hidden" id="user_id" name="user_id" value="{{ userid }}">
                                <label for="caloriesInput">Calories:</label>
                                <input type="number" id="caloriesInput" name="caloriesInput" required>
                                <br>
                                <label for="proteinInput">Protein (grams):</label>
                                <input type="number" id="proteinInput" name="proteinInput" required>
                                <br>
                                <label for="carbsInput">Carbohydrates (grams):</label>
                                <input type="number" id="carbsInput" name="carbsInput" required>
                                <br>
                                <label for="fatsInput">Fats (grams):</label>
                                <input type="number" id="fatsInput" name="fatsInput" required>
                                <br>
                                <label for="weightInput">Current Weight (lbs):</label>
                                <input type="number" id="weightInput" name="weightInput" required>
                                <br>
                                <button type="submit" class="btn btn-primary">Log Macros</button>
                            </form>
                        </div>
                        <canvas id="lineChart"></canvas>
                    </div>
                    
                </div>
                <div class="tm-col">
                    <div class="bg-white">
                        <h2 class="tm-block-title">Welcome, {{ username }}!</h2>
                        <div id="connected-coach">
                            {% if connected_coach %}
                                <p style="color: black;">Your coach is {{ connected_coach.username }}</p>
                            {% else %}
                                <p style="color: black;">You have no coach</p>
                            {% endif %}
                        </div>
                    </div>                    
                    <div class="tm-col">
                        <div class="bg-white">
                            <h2 class="tm-block-title">Life Coach Search</h2>
                            <div id="coach-container">
                                {% if connected_coach %}
                                    <p style="color: black;">{{ connected_coach.username }}</p>
                                    <button type="button" onclick="removeCoach('{{ connected_coach.id }}', event)">Remove</button>
                                {% elif request.rel_status == 'pending' %}
                                    <label style="color: black;">{{requested_coach.username}}</label>
                                    <button type="button" onclick="removeCoach('{{ requested_coach.id }}', event)">Cancel Request</button>
                                {% else %}
                                    <form id="search-coach-form" method="POST" onsubmit="searchCoach(event)">
                                        <input type="text" id="coach_name" name="coach_name" required>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    
</body>
</html>
