<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Copperplate+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="dashboard.css">

</head>
<body id="reportsPage">
    <div id="header-bar">
        <button class="openbtn" onclick="toggleMenu()">☰ Menu</button>
        <h1>Macrominder</h1>
    </div>
    <!--sliding menu-->
    <div id="myMenu" class="menu">
        <!--the links are clickable, so javascript:void(0) makes the link do nothing when clicked,
        allowing toggleMenu to replace its normal behavior. &times creates an 'x' symbol-->
        <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
        <a href="/go_home?user_id={{user_id}}">Dashboard</a>
        <a href="/load_graphs_page?user_id={{user_id}}">Graphs</a>
        <a href="/load_charts_page?user_id={{user_id}}">Charts</a>
        <a href="/lifecoach/dashboard">Back</a>
    </div>
    <div id="tm-col tm-col-big" style="text-align: center;">
        <button onclick="previousDate()">◀</button>
        <span id="currentDate" style="display: inline-block;">{{ current_date }}</span>
        <button onclick="nextDate()">▶</button>
    </div>
    <div class="" id="home">
        <div class="container">
            <!-- row -->
            <div class="tm-content-row">
                <div class="dash-col">
                    <div class="bg-white">
                        <h2 class="tm-block-title">Habits</h2>
                        <!--------------------------- HABITS --------------------------->
                        <div class="habit-list">
                            {% for habit in habits %}
                                <form id="habitForm_{{ habit.habit_id }}" onchange="checkBox(event, this)">
                                    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                                    <input type="hidden" name="habit_id" value="{{ habit.habit_id }}">
                                    <input type="checkbox" id="habit_{{ habit.habit_id }}" name="completed" value="True" {% if completions.get(habit.habit_id) %} checked {% endif %}>
                                    <label class="habit-description" for="habit_{{ habit.habit_id }}">{{ habit.habit_description }}</label>
                                </form>
                            {% endfor %}
                        </div>
                        <!--button for managing habits-->
                        <form id="manage-habit-form" method="POST" action="/managehabits">
                            <!--fix: the hidden input represents user_id; send this to ManageHabits.html-->
                            <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                            <button type="submit" class="button">Manage Habits</button>
                        </form>                                               
                    </div>
                </div>
                <div class="dash-col">
                    <div class="bg-white">
                        <h2 class="tm-block-title">Macro Tracker</h2>
                        <!--------------------------- MACROS --------------------------->
                        <div id="macros">
                            <form id="macrosForm" onsubmit="logMacros(event)">
                                <div class="macros-container">
                                    <!-- Hidden input field to store the user_id -->
                                    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                                    <!-- Existing input fields for macros -->
                                    <label for="caloriesInput">Calories</label>
                                    <br>
                                    <input type="number" id="caloriesInput" name="caloriesInput" placeholder="Enter calories" required>
                                    <br>
                                    <label for="proteinInput">Protein</label>
                                    <br>
                                    <input type="number" id="proteinInput" name="proteinInput" placeholder="Enter grams" required>
                                    <br>
                                    <label for="carbsInput">Carbohydrates</label>
                                    <br>
                                    <input type="number" id="carbsInput" name="carbsInput" placeholder="Enter grams" required>
                                    <br>
                                    <label for="fatsInput">Fats</label>
                                    <br>
                                    <input type="number" id="fatsInput" name="fatsInput" placeholder="Enter grams" required>
                                    <br>
                                    <label for="weightInput">Current Weight</label>
                                    <br>
                                    <input type="number" id="weightInput" name="weightInput" placeholder="Enter pounds (lbs)" required>
                                </div>
                                <button type="submit" class="button">Log Macros</button>
                            </form>
                        </div>
                    </div>
                </div>
            
                <div class="dash-col">
                    <div class="bg-white">
                        <h2 class="tm-block-title">You are viewing {{ user_username }}'s dashboard!</h2>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    
</body>
</html>
